*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


body {
    font-family: "Fredoka";
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "sideBar mainScreen";
  }

#header {
  grid-area: header;
  background-color: #8fc0a9;
  z-index: 2;
  display: flex;
  align-items: center;
  box-shadow: 0px -5px 12px rgb(0, 0, 0);
}

.headerTitle {
  font-size: 3.5vw;
  margin-left: 4vw;
  color: white;
}

#sideBar {
  grid-area: sideBar;
  background-color: #c8d5b9;
  box-shadow: -5px 0px 10px rgb(0, 0, 0);
  z-index: 1;
}

#mainScreen {
  grid-area: mainScreen;
  background-color: #faf3dd;
}