*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


body {
    font-family: "Fredoka";
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "sideBar mainScreen";
  }

#header {
  grid-area: header;
  background-color: #8fc0a9;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -5px 12px rgb(0, 0, 0);
}

.menuImage {
  height: 60px;
  padding-top: 1vh;
  margin-right: auto;
  margin-left: clamp(50px, 50px, 4vw);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(294deg) brightness(97%) contrast(102%);
}

.menuImage:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(17%) sepia(39%) saturate(1794%) hue-rotate(118deg) brightness(97%) contrast(99%);
}

.headerTitle {
  font-size: clamp(60px, 60px, 3vw);
  color: white;
  margin-right: auto;
}


.headerTitle:hover {
  cursor: pointer;
  color: #014226;
}

#sideBar {
  grid-area: sideBar;
  background-color: #c8d5b9;
  box-shadow: -5px 0px 10px rgb(0, 0, 0);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: clamp(35px, 35px, 4vh) clamp(10px,10px,1vw) 0px clamp(10px,10px,1vw);
  gap: 0.5vh;
}

.sideBarChild {
  font-size: 2rem;
  padding-left: clamp(50px, 50px, 4vw);
  border-radius: 5px;
}

.sideBarChild:hover {
  color: #faf3dd;
  background-color: #014226;
  cursor: pointer;
}

.projectNavContainer:hover {
  color: black;
  background-color: #c8d5b9;
}

.projectNavChild {
  font-size: 1.5rem;
  padding-left: clamp(20px, 20px, 1.5vw);
  border-radius: 5px;
}

.projectNavChild:hover {
  color: #faf3dd;
  background-color: #014226;
}
#mainScreen {
  grid-area: mainScreen;
  background-color: #faf3dd;
}